.w-25 {
    width: 25% !important;
}

.w-35 {
    width: 35%;
}

.w-50 {
    width: 50%;
}

.w-65 {
    width: 65%;
}

.w-75 {
    width: 75%;
}

.w-90 {
    width: 90%;
}

.form-error {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}

.table td {
    white-space: normal !important;
    /* vertical-align: top; */
    padding: 0.5rem 0.8rem;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}